/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/upload/avatar
/var/upload/avatar/*
!var/upload/avatar/.gitkeep
!/var/upload/image
/var/upload/image/*
!var/upload/image/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/media/cache/*
!/web/media/cache/.gitkeep
/.idea
node_modules