* {
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

body {
  background-color: #f1f4fd;
}

p, label {
  color: #545454
}

#header>h1 {
  margin: 80px 0px;
  text-align: center;
}

hr {
  margin: 0px;
}

.btnfirst {
  padding: 10px 20px !important;
  color: #85BAFF;
  border: 2px solid #ffa621;
  background-color: #ffa621;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  margin-top: 25px;
}

.btnsecond {
  padding: 10px 20px !important;
  color: #85BAFF;
  border: 2px solid #85BAFF;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.col {
  background-color: #fff;
  padding: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row {
  margin: 0;
}

.background-white {
  background-color: #fff;
}

.fa {
  min-width: 20px;
}

.content {
  background-color: #fff;
  padding: 40px;
  text-align: left;
}

.block {
  margin: 20px 0px;
}

input, textarea {
  padding: 5px 10px;
  width: 100%;
  border: 2px solid #C5C5C5;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #FFA621;
  color: #FFA621;
}

input[type='checkbox'] {
  width: inherit !important;
  margin-right: 10px;
}

input[type='checkbox']+label {
  display: inline-block;
}

label {
  display: block;
  margin-top: 25px;
}

.login label:first-of-type {
  margin-top: 0 !important;
}

.passforget {
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 10px;
  color: #545454;
}


/* Navigation */

.navwrapper {
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px #d6dcf1;
}

nav {
  width: 100%;
  background-color: #fff;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-nav>li>a, .navbar-nav>li>a>span {
  padding-top: 30px;
  padding-bottom: 30px;
}

nav .container {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

nav a {
  color: #3E396B;
  font-size: 14px;
  padding: 30px 15px;
  text-decoration: none;
  display: inline-block;
}

.navbar-left {
  margin-left: 30px;
}


/* Logo part */

.navbar-header {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-header a, .navbar-header img {
  padding: 0;
}

.navbar-brand {
  width: 200px;
}


/* Search bar */

nav .search {
  padding: 7px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #f4f4f4;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  min-width: 260px;
}

.search:focus {
  outline: none;
}


/* Logged in */

nav .dropdown-menu i {
  margin-right: 10px;
  background: #c221ff;
  background: -webkit-linear-gradient(#c221ff, #9d85ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-menu a {
  padding: 0 !important;
}

.user-menu .small-avatar {
  height: 45px;
  width: 45px;
  display: inline-block;
  border-radius: 3px;
}

.user-menu .avatar_placeholder {
  background-color: #FFA621;
  color: #fff;
  text-align: center;
  padding: 13px;
}

.user-menu li {
  padding: 0 !important;
}

.user-menu span {
  display: inline-block;
  margin-left: 15px;
}

.user-menu span:after {
  /*content: '&caron';*/
}

.dropdown-menu>li>a {
  padding: 15px 20px !important;
}

.dropdown-menu {
  margin-top: 20px !important;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  min-width: 200px;
  border-bottom: solid 5px #d6dcf1;
  transform-style: preserve-3d;
}

.dropdown-menu:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  left: 0px;
  right: 0px;
  margin: auto;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.dropdown-menu>li>a:hover {
  /*box-shadow: 0px 5px 50px rgba(151, 72, 255, 0.12);*/
  background-color: #fff;
}

.dropdown-menu li {
  z-index: 4;
  position: relative;
}

.dropdown-menu a {
  background-color: #fff;
  position: relative;
  z-index: 4;
}

.dropdown-menu .menu-item-highlighter {
  display: inline !important;
  width: 150px;
  height: 100%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  z-index: 3;
}

.dropdown-menu li:hover .menu-item-highlighter {
  box-shadow: 0px 5px 30px rgba(151, 72, 255, 0.08);
}

.dropdown-menu li:hover+li a, .dropdown-menu li:hover+li {
  z-index: 2;
}

.dropdown-menu li:hover {
  z-index: 3;
}


/* Home page */

#header h1 {
  height: 40px;
}

.home #header {
  background-color: #f1f4fd;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home #header .headerbox {
  margin: 100px 0;
  text-align: center;
}

.search-area {
  position: relative;
  margin-top: 40px;
}

#header .search {
  width: 855px;
  max-width: 80%;
  box-shadow: 0 14px 43px rgba(0, 0, 0, 0.06);
  font-size: 16px;
  color: gray;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

#header .search-button {
  color: #fff;
  background: #ffa785;
  background: -webkit-linear-gradient(#ffa785, #ffce85);
  background: -o-linear-gradient(#ffa785, #ffce85);
  background: -moz-linear-gradient(#ffa785, #ffce85);
  background: linear-gradient(#ffa785, #ffce85);
  width: 130px;
  font-size: 16px;
  font-weight: 200;
  box-shadow: 0 14px 43px rgba(255, 206, 133, 0.43);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 15px 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: -130px;
  position: absolute;
  cursor: pointer;
  transform-style: preserve-3d;
}

.categories {
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: #fff;
  align-items: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.categories a {
  margin: 40px 20px;
  border-radius: 3px;
  padding: 20px;
  /*min-height: 150px;*/
  height: 200px;
  background-size: cover;
  transform-style: preserve-3d;
  display: block;
}

.categories a:first-of-type {
  margin-left: 40px !important;
}

.categories a:last-of-type {
  margin-right: 40px !important;
}

.categories h3 {
  color: #fff;
  margin: 0 auto;
  margin-top: 90px;
  font-size: 16px;
  /* compensating for the translateZ */
  transform: translateZ(40px);
}

.categories h3, .categories .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}


/* Fonts */

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

p, nav a {
  font-family: 'Roboto', sans-serif;
}


/* Title styles */

h1, h2, h3, h4 {
  margin-top: 0px;
}

h1 {
  color: #FFA621;
  font-size: 33px;
  margin: 0;
  background: -webkit-linear-gradient(#c221ff, #9d85ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 18px;
  color: #ad5dff;
}


/* Trainer and training page */

.trainerblock, .trainingblock {
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
  padding: 0;
  transform-style: preserve-3d;
}

.trainerblock .content, .trainingblock .content {
  text-align: left;
  /*transform: translateZ(20px);*/
}

.trainerblock .coverphoto, .trainingblock .coverphoto {
  width: 100%;
  position: absolute;
  left: 0;
}

.trainerblock .avatar, .trainingblock .avatar {
  position: relative;
  width: 100%;
  transform: translateZ(0px);
  transition: all .1s cubic-bezier(.03, .98, .52, .99);
}

.trainerblock:hover .avatar, .trainingblock:hover .avatar {
  transform: translateZ(20px);
}

.trainerblock h3, .trainerblock p {
  transform: translateZ(20px);
}


/* Trainer detail page */

.trainer-header, .trainer-header .coverphoto {
  height: 300px;
  width: 100%;
  position: relative;
}

.trainer-header .cover {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 0.3));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(255, 255, 255, 0.3));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(255, 255, 255, 0.3));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.3));
  /* Standard syntax */
}

.trainer-header .coverphoto {
  background-size: cover;
  background-position-y: center;
}

.trainerprofile {
  background-color: #fff;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  padding: 0;
  margin-top: -140px;
  /*border: 4px solid #fff;*/
}

.trainerprofile h1 {
  color: #FFA621;
  font-size: 26px;
  font-weight: 900;
  margin: 0;
}

.trainerprofile h2 {
  font-size: 18px;
  color: #696969;
  margin-top: 10px;
}

.trainerprofile h3 {
  font-size: 16px;
  font-weight: normal;
  color: #ffa621;
}

.trainerprofile span {
  color: #696969;
}

.trainerprofile span.duration {
  font-style: italic;
  color: #a2a2ab;
}

.trainerprofile .block:before {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
  margin-bottom: 18px;
}

.trainerprofile .content {
  text-align: left;
}

.profile-photo {
  width: 100%;
}

.trainerprofile i {
  margin-right: 10px;
}

.general-info {
  position: relative;
  z-index: 2;
}

.general-info .experience {
  position: absolute;
  top: -80px;
  left: 0;
  background-color: #ffa621;
  padding: 10px 16px;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
}

.trainer-about {
  margin-top: 40px;
}

.trainer-about:before {
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid white;
}

.trainer-about p {
  font-size: 16px;
  line-height: 1.5em;
}


/* Register */


/* Edit profile */

.editprofile {
  margin-top: -140px;
}

.editprofile ul {
  padding: 0px;
  margin-bottom: 0px;
}

.editprofile ul li {
  list-style: none;
}

.editprofile ul li:first-of-type a {
  padding-top: 40px;
}

.editprofile ul li:last-of-type a {
  padding-bottom: 40px;
}

.editprofile ul li a {
  color: #545454;
  padding: 20px 40px;
  display: block;
  font-size: 16px;
}

.editprofile ul li a:hover {
  text-decoration: none;
  color: #FFA621;
}

.added_education {
  border: 2px solid #c5c5c5;
  padding: 40px;
}


/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
  display: none;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.make_new_education {
  display: none;
}

.ais-highlight em {
  background-color: lightgreen;
  /* change this or remove if you dont want search-term highlight styling */
}
