{% extends 'base.html.twig' %}

{% block body %}
  <div id="wrapper">
      <div class="container">
        <div class="row">
          <div id="header">
            <h1>Boek deze training</h1>
            <p>Wij sturen je aanmelding door naar de trainer. Deze zal vervolvens contact met je opnemen voor de betaling.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form class="book content" action="index.html" method="post">
              <label for="">Voornaam</label>
              <input type="text" name="" value="">

              <label for="">Achternaam</label>
              <input type="text" name="" value="">

              <label for="">E-mailadres</label>
              <input type="email" name="" value="">

              <label for="">Telefoonnummer</label>
              <input type="tel" name="" value="">

              <label for="">Opmerkingen</label>
              <input type="textarea" name="" value="">

              <div class="checkbox">
                <input type="checkbox" name="agree" id="agree" value="">
                <label for="agree">Ik ga akkoord met de <a href="/algemene-voorwaarden" target="_blank">Algemene voorwaarden</a> en met het <a href="/privacystatement" target="_blank">Privacy statement</a>.</label>
              </div>

              <button type="submit" class="btnfirst" name="button">Boek de training</button>
            </form>
          </div>

          <div class="col">
            <div class="content">
              <h3>{{ item.title }}</h3>
              <p class="properties">
                <span class="price">$ 723</span>
                <span class="timeframe">3 dagen</span>
                <span class="type">Individueel / groep</span>
              </p>

              <h4>Aantal trainingen</h4>
              <input type="number" name="" value="1" class="amount">
              <p>{{ item.description }}</p>
            </div>
          </div>

        </div>

      </div>
  </div>
{% endblock %}
