{% extends 'base.html.twig' %}
{% block robots %}noindex{% endblock %}

{# Title with name and job title #}
{% block title %}Training boeken{% endblock %}

{% block body %}
  <div id="wrapper">
      <div class="container">
        <div class="row">
          <div id="header">
            <h1>Gelukt! Je hebt de training succesvol geboekt</h1>
            <p>De trainer heeft je aanmelding ontvangen. Zodra deze wordt geaccepteerd sturen wij je een mail en neemt de trainer contact met je op.</p>
          </div>
        </div>

      </div>
  </div>
{% endblock %}
