{% block php %}
  <!-- <?php

  require_once 'Mollie/API/Autoloader.php';

  $mollie = new Mollie_API_Client;
  $mollie->setApiKey('test_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM');

  try
  {
    $payment = $mollie->payments->create(
    array(
    'amount'      => 10.00,
    'description' => 'My first payment',
    'redirectUrl' => 'https://webshop.example.org/order/12345/',
    'webhookUrl'  => 'https://webshop.example.org/payments/webhook/',
    'metadata'    => array(
    'order_id' => '12345'
    )
    )
    );

    /*
    * Send the customer off to complete the payment.
    */
    header("Location: " . $payment->getPaymentUrl());
    exit;
  }
  catch (Mollie_API_Exception $e)
  {
    echo "API call failed: " . htmlspecialchars($e->getMessage());
    echo " on field " . htmlspecialchars($e->getField());
  }

  ?> -->
{% endblock %}


{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %}

  <div id="wrapper">
    <div class="container">
      <div id="header">
        <h1>Ontvang de gegevens van de cursist</h1>
        <p>Een cursist wil de training (NAAM) van je afnemen voor (PRIJS).</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <form class="book content" action="index.html" method="post">
            <h2>Mollie payments info voor betaling</h2>

            <button class="btnfirst" type="button" name="button">Naar de betaalpagina</button>
          </form>
        </div>

        <div class="col">
          <div class="content">
            <h2>Beschrijving van de order</h2>
            <span class="ordernummer">#8123615</span> 
          </div>
        </div>
      </div>
    </div>
  </div>

{% else %}

<h1>Inloggen</h1>
<!-- Willem, hoe krijgen we hier een inlogvenster? -->


{% endif %}

{% endblock %}
