{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="home">
            <div id="header">
                <div class="headerbox">
                    <h1>Vind de ervaren trainers die bij je passen</h1>
                    <div class="search-area">
                        <input type="text" class="search"><div class="search-button">Zoeken</div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

