{% extends 'base.html.twig' %}
{% block title %}Vind de beste trainingen{% endblock %}

{% block body %}
    <div id="wrapper" class="home">

        <div id="app" app-id="{{ algolia_app_id }}" api-key="{{ algolia_search_key }}" index-suffix="_dev" style="min-height: 537px;"></div>

        <div class="row categories">
          <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
            <h3>Communicatie</h3>
            <div class="overlay"></div>
          </a>
          <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
            <h3>Sport</h3>
            <div class="overlay"></div>
          </a>
          <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
            <h3>Dieren</h3>
            <div class="overlay"></div>
          </a>
          <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
            <h3>Lifestyle</h3>
            <div class="overlay"></div>
          </a>
          <a data-tilt href="#" class="category col col-sm-2" style="background-image: url('http://ervarentrainers.dev/media/cache/avatar_overview/upload/image/59eb788cc8d16591584064.jpg')">
            <h3>Management</h3>
            <div class="overlay"></div>
          </a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/search.js') }}"></script>
{% endblock %}
