{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="home">
        <div id="header">
            <div class="content">
                <h1>Naam van het zoekwoord</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for item in items %}
                    <div class="trainingblock col-md-3">
                        <h3 class="titel">{{ item.title }}</h3>
                        <span class="trainer">{% if item.user is not null %}{{ item.user.firstName }} {{ item.user.lastName }}{% endif %}</span>
                        <span class="tags">{{ item.tags|join(', ') }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}