{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="home">
        <div id="header" class="trainer-header" style="background-image: url('/media/cache/cover_thumbnail/upload/image/{{ item.coverPhoto }}')">
            <div class="content">
                {#<h1>Vind de ervaren trainers die bij je passen</h1>#}
                {#<div class="search-area">#}
                    {#<input type="text" class="search"><div class="search-button">Zoeken</div>#}
                {#</div>#}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <img class="avatar" src="/media/cache/basic_thumbnail/upload/image/{{ item.avatar }}">
                <h1>{{ item.firstName }} {{ item.lastName }}</h1>
            </div>
        </div>
        </div>
    </div>
{% endblock %}