{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="home">
        <div id="header">
            <div class="content">
                <h1>Trainers</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for item in items %}
                    <div class="trainerblock col-md-3">
                        <img class="avatar" src="/media/cache/basic_thumbnail/upload/image/{{ item.avatar }}">
                        <div class="content">
                            <h3>{{ item.firstName }} {{ item.lastName }}</h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

